body {
  margin: 2em 2em; }

#button {
  padding: 1.5em 1.5em;
  background-color: #29C2F8;
  font-weight: bold;
  font-size: 2em;
  color: white; }

#endButton {
  padding: 1.5em 1.5em;
  background-color: #D3161C;
  font-weight: bold;
  font-size: 2em;
  color: white; }
